body {
  font-family: 'Quicksand', sans-serif;}

.App {
  display: block;
  margin: 40px auto;
  text-align: center;
  max-width: 50%;
}

.app-container {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url("../img/3.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 15px;
  color: white;
  padding: 30px 0;
}

@media (max-width: 900px) {
  .App {
    max-width: 70%;
  }
}

@media (max-width: 600px) {
  .App {
    max-width: 100%;
  }
}

