.footer {
    background-color: rgba(255, 255, 255, 0.4);
    border-radius: 15px;
    margin: 20px auto;
    padding: 10px;
    width: 95%;
}

.footer p {
    font-size: 0.8rem;
    margin: 5px;
    text-align: center;
}

.footer a,
.footer a:visited{
    color:rgb(188, 234, 213);
}

.footer a:hover{
    color: rgb(238, 231, 218);
}

@media (max-width: 600px) {
    .footer {
        width: 80%;
    }
    .footer p {
        color: rgb(242, 241, 235);
        font-size: 0.7rem;
    }
}