.footer p {
    font-size: 0.8rem;
    margin: 5px;
    text-align: center;
}

@media (max-width: 600px) {
    .footer p {
        color: white;
        font-size: 0.7rem;
        margin: 0px 10px 30px;
    }
}