.days-container {
    background-color: rgba(255, 255, 255, 0.3);
    /* border: 1px solid green; */
    border-radius: 15px;
    display: flex;
    justify-content: space-around;
    margin: 0px auto;
    margin-top: 20px;
    padding: 20px;
    width: 95%;
}


.day {
    /* border: 1px solid red; */
    text-align: center;
}

@media (max-width: 600px) {
    .days-container {
        flex-direction: column;
    }
}