.form-search {
  display: block;
  margin: 20px auto;
  text-align: center;
}

.form-input {
  background-color: rgb(175, 200, 173);
  border: 1px solid rgb(175, 200, 173);
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 700;
  letter-spacing: 0.05rem;
  margin: 1px;
  /* padding: 10px 80px 10px 15px; */
}

::placeholder {
  color: rgb(22, 37, 28);
}

.form-input:focus {
  outline: none;
}

.form-button {
  background-color: rgb(175, 200, 173);
  border: 1px solid rgb(175, 200, 173);
  border-radius: 15px;
  color: rgb(33, 59, 44);
  font-size: 1.2rem;
  font-weight: 600;
  letter-spacing: 0.05rem;
  margin: 10px;
  /* padding: 10px 25px; */
  transition: all 0.3s ease-in-out;
}

.form-button:hover {
  background-color: rgb(136, 171, 142);
  border: 1px solid rgb(136, 171, 142);
  cursor: pointer;
  opacity: 0.8;
}

.city-date-time {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.city-date-time h1 {
  font-size: 1.4rem;
  margin: 0;
  margin-top: 10px;
}

.temperature-container {
  display: flex;
}

.city-date-time h2 {
  color: rgb(175, 200, 173);
  font-size: 3.8rem;
  font-weight: 400;
  margin: 0;
  position: relative;
}

.temperature-container span {
  color: rgb(175, 200, 173);
  font-size: 1.2rem;
  font-weight: 500;
  margin-top: 10px;
}

.temperature-container a {
  color: rgb(238, 231, 218);
}

.list-date {
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
}

.list-date li {
  text-transform: capitalize;
}

.weather-conditions {
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  padding: 0px;
  text-align: center;
  width: 95%;
}

img {
  margin: 20px;
  width: 150px;
}

.list-weather-conditions {
  list-style-type: none;
  margin: 30px;
  padding: 0;
}

li span {
  color: rgb(238, 231, 218);
  font-weight: 700;
}

@media (max-width: 600px) {
  .form-input {
    font-size: 1rem;
    padding: 10px 50px 10px 10px;
  }

  .form-button {
    font-size: 1rem;
  }

  .city-date-time h1 {
    font-size: 1.1rem;
  }

  .city-date-time h2 {
    font-size: 3rem;
  }

  .weather-conditions {
    width: 80%;
  }

  img {
    width: 100px;
  }

  .list-weather-conditions,
  img {
    margin: 10px;
  }

  .list-date li,
  .weather-conditions li {
    font-size: 0.8rem;

  }
}

@media (max-width: 550px) {
  .form-input {
    font-size: 0.8rem;
    margin: 5px;
    padding: 10px 15px;
  }

  .form-button {
    font-size: 0.8rem;
    margin: 5px;
    padding: 10px 15px;
  }
}