.form-search {
  display: block;
  margin: 20px auto;
  text-align: center;
}

.form-input {
  border-radius: 15px;
  font-size: 1.2rem;
  font-weight: 500;
  margin: 10px;
  padding: 10px 80px 10px 10px;
}

.form-button {
  border-radius: 15px;
  font-size: 1.2rem;
  margin: 10px;
  padding: 10px 25px;
}

.city-date-time {
  align-items: center;
  /* border: 2px solid blueviolet; */
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.city-date-time h1 {
  font-size: 1rem;
  margin: 0;
  margin-top: 10px;
}

.city-date-time h2 {
  font-size: 2.7rem;
  font-weight: 500;
  margin: 0;
}

.list-date {
  /* border: 1px solid orange; */
  list-style-type: none;
  margin-bottom: 10px;
  padding: 0;
  text-align: center;
}

.weather-conditions {
  /* border: 2px solid blue; */
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
  margin: 10px;
}

img {
  width: 80px;
}

.list-weather-conditions {
  /* border: 1px solid orange; */
  list-style-type: none;
  margin: 20px;
  padding: 0;
}

@media (max-width: 600px) {
  .form-input {
    font-size: 1rem;
    padding: 10px 50px 10px 10px;
  }
  .form-button {
    font-size: 1rem;
  }

  .city-date-time h1 {
    font-size: 0.9rem;
  }

  .city-date-time h2 {
    font-size: 2rem;
  
  }

  .list-date li, .weather-conditions li {
    font-size: 0.8rem;
  
  }
}

@media (max-width: 550px) {
  .form-input {
    font-size: 0.8rem;
    margin: 5px;
    padding: 10px;
  }

  .form-button {
    font-size: 0.8rem;
    margin: 5px;
    padding: 10px;
  }
}